.header {
  background: rgb(89, 164, 255);
  position: fixed;
  width: 100%;
  z-index: 1;
}

p {
  margin: 0;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}